@font-face{
    font-family: 'Arimo';
    src: url('./fonts/arimo/arimo.ttf');
    src: url('./fonts/arimo/arimo.woff') format("woff");
    src: url('./fonts/arimo/arimo.woff2') format('woff');
    src: url('./fonts/arimo/ArimoRegular.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Arimo', sans-serif;
    padding: 25px;
}
table {
    border-collapse: collapse;
}
td:nth-child(even) {
    background-color: #e3e3e3;
}
td:nth-child(odd) {
    background-color: #f2f2f2;
}
th:nth-child(even) {
    background-color: #e3e3e3;
}
th:nth-child(odd) {
    background-color: #f2f2f2;
}
th {
    padding: 10px;
    text-transform: uppercase;
    font-size: 16px;
    color: #484848;
}
td {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    color: #484848;
    padding: 0;
    box-shadow: 2px 0 4px rgba(0,0,0,0.3);
}
.cont {
    width: 158px;
}
.logo1 {
    font-size: 14px;
    color: #6a6a6a;
    width: 200px;
    height: 112px;
}
.logo2 {
    font-size: 20px;
    color: #484848;
    display: inline-block;
}
.icon.fas, .icon.far {
    display: block;
    color: #848484;
}
.text1 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.aside {
    background-color: #89c331;
}
.aside-base {
    width: 200px;
    height: 170px;
    padding-top: 18px;
}
.aside1 {
    background-color: #f04a56;
    width: 200px;
    height: 170px;
}
.aside2 {
    background-color: #20807c;
    width: 200px;
    height: 170px;
}
.price {
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
    color: #fff;
}
.price2 {
    font-size: 18px;
    display: inline-block;
    font-weight: bold;
    position: relative;
    bottom: 12px;
    color: #fff;
}
.text {
    font-size: 14px;
    display: inline-block;
    color: #fff;
}
.price1 {
    display: inline-block;
}
.btn {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    padding: 10px 31px;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    width: 145px;
    height: 40px;
    margin-top: 30px;
}
.color {
    background-color: #484848;
    border-bottom: 7px solid #404040;
}
.color:hover {
    background-color: #404040;
}