@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

body {
    font-family: 'Arimo', sans-serif;
}
table {
    border-collapse: collapse;
    font-size: 14px;
    margin: 25px auto;
    width: 90%;
}
th {
    padding: 10px;
    border: 1px solid #A9E2CC;
    text-transform: uppercase;
    font-size: 1.2em;
}
.logo1 {
    font-size: 12px;
    display: block;
}
.blok1:nth-child(1) {
    background-color: #ffff;
}
.blok2 td {
    background-color: #ffff;
}
td {
    padding: 5px 7px;
    border: 1px solid #A9E2CC;
    text-align: center;
    text-transform: uppercase;
}
i {
    padding: 0 5px;
}
.th1 {
    background-color: #89c331;
    color: #fff;
}
.th2 {
    background-color: #f04a56;
    color: #fff;
}
.th3 {
    background-color: #20807c;
    color: #fff;
}
tr:nth-child(even) {
    background-color: #e3e3e3;
}
tr:nth-child(odd) {
    background-color: #f2f2f2;
}
.price {
    font-size: 26px;
    font-weight: bold;
    display: inline-block;
}
.price2 {
    font-size: 9px;
    display: block;
    text-align: left;
    font-weight: bold;
}
.text {
    font-size: 10px;
}
.price1 {
    display: inline-block;
}
.btn {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    border: none;
    padding: 7px 16px 5px;
    font-weight: bold;
    margin: 12px 17px;
    cursor: pointer;
}
.color1 {
    background-color: #484848;
    border-bottom: 3px solid #404040;
}
.color2 {
    background-color: #89c331;
    border-bottom: 3px solid #79b027;
}
.color3 {
    background-color: #f04a56;
    border-bottom: 3px solid #df3a46;
}
.color4 {
    background-color: #20807c;
    border-bottom: 3px solid #16736f;
}
.color1:hover {
    background-color: #404040;
}
.color2:hover {
    background-color: #79b027;
}
.color3:hover {
    background-color: #df3a46;
}
.color4:hover {
    background-color: #16736f;
}

